{% extends 'layout.twig' %}

{% block content %}
    <div id="page-home" class="page-offset">

        <section class="head" data-kira-timeline-onload>
            <div class="container-fluid">
                <div class="row ai-center">
                    <div class="col-lg-6 home-content">
                        <h1 class="title-xl title mb-md" data-kira-item="title.parallax">{{post.get_field('home_title').title}} <span class="c-yellow title-decoration" data-kira-item="title.parallax">{{post.get_field('home_title').undertitle}}</span></h1>
                        <div class="conten mb-lg" data-kira-item="fadeInUp">
                            {{post.get_field('home_content')}}
                        </div>
                        <a href="{{post.get_field('home_link').url}}" class="btn btn-yellow home-donate" data-kira-item="fadeInUp">{{post.get_field('home_link').title}}</a>
                    </div>
                    <div class="col-lg-5 offset-lg-1 bg-img-auto home-img" style="background-image: url('{{post.get_field('home_image').url}}');" data-kira-item="fadeInUp">
                    </div>
                </div>
            </div>
        </section>


        <section class="section goal" data-kira-timeline>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 md-down-mb-md image" data-kira-item="fadeInUp">
                        <div class="bg-img-auto" style="background-image: url('{{post.get_field('goal_image').url}}')"></div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 py-lg">
                        <h2 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">{{post.get_field('goal_title').black}} <span class="c-yellow">{{post.get_field('goal_title').yellow}}</span></h2>
                        <div class="cms" data-kira-item="fadeInUp">
                            {{post.get_field('goal_content')}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="actions" data-kira-timeline>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">{{post.get_field('actions_title').yellow}} <span class="c-yellow">{{post.get_field('actions_title').black}}</span></h2>
                    </div>
                </div>
                <div class="row md-down-mb-xl-child-not-last">
                    {% for item in post.get_field('highlights_actions') %}
                        <div class="col-lg-4">
                            <div class="other-project">
                                <a href="{{item.link}}" class="w-100">
                                    <div class="image-zoom bg-img-xs" data-kira-item="fadeInUp" data-start="-=0.6">
                                        <div class="image-inner" style="background-image: url('{{item.thumbnail.src}}')"></div>
                                    </div>
                                </a>
                                <div class="pt-xs">
                                    <div class="title-md mb-xs" data-kira-item="title.parallax" data-start="-=0.6">{{item.title}}</div>
                                    <div class="mb-md lh-xl" data-kira-item="fadeInUp" data-start="-=0.6">{{(item.get_field('action_content')|striptags)|truncate(10)}}</div>
                                    <div class="d-f">
                                        <a href="{{item.link}}" class="btn btn-empty mr-sm">En savoir plus</a>
                                        <a href="{{item.action_litchi.url}}" class="btn btn-yellow" data-kira-item="fadeInUp" data-start="-=0.6">Faire un don</a>                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </section> 

    </div>
{% endblock %}
