{% extends 'layout.twig' %}

{% block content %}
    <div id="page-about" class="page-offset">

        {{global.banner({
            'image' : post.get_field('about_head_image'),
            'title' : post.get_field('about_head_title'),
            'content' : post.get_field('about_head_content'),
        })}}

        <section class="section secteurs" data-kira-timeline>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">{{post.get_field('secteurs_title').black}} <span class="c-yellow">{{post.get_field('secteurs_title').yellow}}</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-lg cms" data-kira-item="fadeInUp">
                        {{post.get_field('secteurs_content')}}
                    </div>
                </div>
                <div class="row">
                    <ul class="list-items" data-kira-item="fadeInUp">
                        <div class="row">
                            {% for items in post.get_field('secteurs_list')|batch(4) %}
                                <div class="col-lg-6">
                                    {% for item in items %}
                                        <li>{{item.item}}</li> 
                                    {% endfor %}
                                </div>
                                
                            {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
        </section>

        <section data-kira-timeline>
            <div class="container">
                <div class="row ai-center">
                    <div class="col-lg-5">
                        <div class="bg-img-md md-down-mb-md" style="background-image: url('{{post.get_field('why_image').url}}');" data-kira-item="fadeInUp"></div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <h2 class="title-lg title mb-md title-decoration c-yellow" data-kira-item="title.parallax">{{post.get_field('why_title')}}</h2>
                        <div class="cms" data-kira-item="fadeInUp">
                            {{post.get_field('why_content')}}
                        </div>
                    </div> 
                </div>
            </div>
        </section>

    </div>
{% endblock %}
