{% extends 'layout.twig' %}

{% block content %}
    <div id="page-nos-valeurs" class="page-offset">

        {{global.banner({
            'image' : post.get_field('banner_image'),
            'title' : post.get_field('banner_title'),
            'content' : post.get_field('banner_content'),
        })}}

        <section class="section" data-kira-timeline>
            <div class="container">
                <div class="row md-down-column-reversed">
                    <div class="col-lg-4 py-xl md-down-pt-0 md-down-pb-sm mt-md">
                        <h2 class="title-lg title mb-md title-decoration c-yellow" data-kira-item="title.parallax">{{post.get_field('first').title.yellow}}</h2>
                        <div class="cms" data-kira-item="fadeInUp">
                            {{post.get_field('first').content}}
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-7">
                        <div class="row h-100">
                            {% for item in post.get_field('first').images %}
                                <div class="col-lg-6 height-auto {% if loop.index0 == 1 %}mt-md parallax-item{% endif %}" {% if loop.index0 == 0 %}data-kira-item="fadeInUp"{% endif %}>
                                    <div class="bg-img-auto" style="background-image: url('{{item.image.url}}');"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
 

        <section data-kira-timeline>
            <div class="container">
                <div class="row">   
                    <div class="col-lg-4" data-kira-item="fadeInUp">
                        <div class="bg-img-auto" style="background-image: url('{{post.get_field('second').image.url}}');"></div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 py-lg md-down-pt-0 md-down-pb-sm mt-md">
                        <h2 class="title-lg title mb-md title-decoration c-yellow " data-kira-item="title.parallax">{{post.get_field('second').title.yellow}} <span class="c-black">{{post.get_field('second').title.black}}</span></h2>
                        <div class="cms" data-kira-item="fadeInUp">
                            {{post.get_field('second').content}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" data-kira-timeline>
            <div class="container">
                <div class="row md-down-column-reversed">
                    <div class="offset-lg-1 col-lg-6 py-lg md-down-pt-0 md-down-pb-sm mt-md">
                    <h2 class="title-lg title mb-md title-decoration c-yellow" data-kira-item="title.parallax">{{post.get_field('third').title.yellow}} <span class="c-black">{{post.get_field('third').title.black}}</span></h2>
                    <div class="cms" data-kira-item="fadeInUp">
                        {{post.get_field('third').content}}
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1" data-kira-item="fadeInUp">
                    <div class="bg-img-auto" style="background-image: url('{{post.get_field('third').image.url}}');"></div>
                </div>
                </div>
            </div>
        </section>

        <section data-kira-timeline>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5" data-kira-item="fadeInUp">
                        <div class="bg-img-auto" style="background-image: url('{{post.get_field('fourth').image.url}}');"></div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 py-lg md-down-pt-0 md-down-pb-sm mt-md">
                        <h2 class="title-lg title mb-md title-decoration c-yellow" data-kira-item="title.parallax">{{post.get_field('fourth').title.yellow}} <span class="c-black">{{post.get_field('fourth').title.black}}</span></h2>
                        <div class="cms" data-kira-item="fadeInUp">
                            {{post.get_field('fourth').content}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
