{% extends 'layout.twig' %}

{% block content %}
    <div id="page-nos-objectifs" class="page-offset">

        {{global.banner({
            'image' : post.get_field('banner_image'),
            'title' : post.get_field('banner_title'),
            'content' : post.get_field('banner_content'),
        })}}


        <section class="section md-down-pb-0 goals">
            <div class="container mb-xxl-child-not-last md-down-mb-xl-child-not-last">

                    {% for item in post.get_field('all_goals') %}
                        <div class="row item-goal {% if loop.index0 is odd %} reverse {% endif %}" data-kira-timeline>
                            <div class="col-lg-7 md-down-mt-lg{% if loop.index0 is odd %} offset-lg-1{% endif %}">
                                <div class="py-xl md-down-py-0">
                                    <h2 class="title-lg title mb-md title-decoration c-yellow" data-kira-item="title.parallax">{{item.title.yellow}}<span class="c-black">{{item.title.black}}</span></h2>
                                    <div data-kira-item="fadeInUp">{{item.contenu}}</div>
                                </div>
                            </div>
                            <div class="col-lg-4 image{% if loop.index0 is even %} offset-lg-1{% endif %}" data-kira-item="fadeInUp">
                                <div class="bg-img-auto" style="background-image: url('{{item.image.url}}');"></div>
                            </div>
                        </div>
                    {% endfor %}                
            </div>
        </section>

    </div>
{% endblock %} 
