/*
|--------------------
|      CONTENT
|--------------------
*/

.fw-wrap{
    flex-wrap: wrap;
}

.pt-xs{
    padding-top: 16px !important;
}

/*
|
| Barre
|---------
*/
.title-decoration{
    .line-wrapper:last-child(){
        position: relative;

        .line{
            overflow: initial;

            &:after{
                content: "";
        
                position: absolute;
                bottom: 0;
                left: 0;
        
                width: 24px;
                height: 4px;
        
                background: $yellow;
        
            }
        }
    }

    span{
        display: inline;
    }
}


.parallax-item{
    @include media-breakpoint-down(md){
        transform: none !important;
    }
}


.image-zoom{
    overflow: hidden;
    position: relative;
    
    .image-inner{
        transition: .8s all;
        transform-origin: center;
        transform: scale(1);

        height: 100%;
        width: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:hover{
        .image-inner{
            transform: scale(1.1);
        }
    }
}


/*
|
| Banner
|---------
*/
.banner{
    height: calc( 100vh - 105px);

    @include media-breakpoint-down(md){
        height: auto;
    }

    .container-fluid{
        height: 100%;

        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                padding: {
                    right: calc((100% - #{$container-max-width}) / 2);
                }
            }
        }

        .row{
            height: 100%;

            @include media-breakpoint-down(md){
                height: auto; 
            }

            .about-img{
                @include media-breakpoint-down(md){
                    margin-bottom: 48px;
                }
            }
        }
    }
}



/*
|
| Custom card
|
| Use in news archive page
|--------------
*/
.custom-card{

    .custom-card-link {
        display: block;
    }

    /*
    * Card img
    */
    .card-img-container {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .card-img {
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            transition: transform 2s $easeOutExpo;
            will-change: transform;
        }
    }

    /*
    * Card content
    */
    .card-content {

        .date {
            color: rgba($very-dark-grey, 0.6);
        }
    }

    /*
    * Hover state
    */
    &:hover {

        .card-img-container {
    
            .card-img {
                transform: scale(1.05);
            }
        }
    }
    
    
}


/*
|
| Cookie banner
|----------------
*/
.cookie-banner {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;

    .item-close {
        font-size: 24px;
        cursor: pointer;
    }


    @include media-breakpoint-down(sm) {
        padding: 20px 0;
        font-size: 12px;
    }

    @include media-breakpoint-down(xs) {
        padding: 10px 0 20px 0;

        .item-close {
            font-size: 18px;
        }
    }
}


/*
|
| Pagination
|---------------
*/
.pagination-container {
    li {
        display: inline-block;

        a {
            transition: all 0.3s ease-out;
            padding: 0 8px;

            &:hover {
                color: $grey;
            }
        }

        .current {
            padding: 0 8px;
            font-weight: 800;
            color: $grey;
        }
    }
}


/*
|
| CMS
|------
*/
.cms{
    span{
        display: inline;
    }

    h1, h2, h3, h4, h5, h6{
        margin-bottom: 30px;
    }

    h1{
        @extend .title-xxl;
    }
    h2 {
        @extend .title-xl;
    }
    h3 {
        @extend .title-lg;
    }
    h4 {
        @extend .title-md;
    }
    h5 {
        @extend .title-sm;
    }
    h6 {
        @extend .title-xs;
    }

    img{
        display: block;
        width: 100%;
        height: auto;
    }

    a{
        font-weight: 600;
        position: relative;

        transition: .3s all;

        &:before{
            content: "";

            position: absolute;
            width: 0;
            height: 3px;

            background: $yellow;
            left: 0;
            bottom: 0;

            transition: .3s all;
        }

        &:hover{
            color: $yellow;

            &:before{
                width: 100%;
            }
        }
    }

    strong{
        font-weight: 800;
    }

    p{
        margin-bottom: 20px;
    }

    &.cms-no-break{
        p{
            margin-bottom: 0;
        }
    }

    blockquote {
        position: relative;
        
        width: 80%;
        
        margin-right: 0;
        margin-left: auto;
        padding: 130px 0;

        font-size: 30px;
        line-height: 1.5em;
        font-weight: 300;

        @include media-breakpoint-down(md){
            margin: auto;
        }

        &:before {
            content: "";

            position: absolute;
            
            background-image: url('../img/icon/quote-left.svg');
            
            width: 50px;
            height: 50px;
            

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;

            transform: translateX(-60px) translateY(-30px);
        }

        &:after {
            content: "";

            position: absolute;
            right: 0;
            
            background-image: url('../img/icon/quote-right.svg');
            
            width: 50px;
            height: 50px;
            

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;

            transform: translateX(0) translateY(-50px);

            @include media-breakpoint-down(md){
                transform: translateX(60px) translateY(-50px);
            }
        }
    }
}


::selection {
    background-color: $yellow;
    color: $white;
}

/*
|
| Page offset
|--------------
*/
.page-offset{
    padding-top: 113px;
    @include media-breakpoint-down(md){
        padding-top: 76px;
    }
}