/*
|--------------------
|      FOOTER
|--------------------
*/
#footer{
    padding: 56px 0;

    background-color: $white;

    .item-logo{
        @include media-breakpoint-down(md){
            display: block;

            margin: auto;
        }
    
    }

    @include media-breakpoint-down(md){
        padding: 50px 16px;
    }

    .contact{
        @include media-breakpoint-down(md){

            margin-top: 32px;

            width: 100%;

            text-align: center;

            .jc-end{
                flex-direction: column;
                align-items: center;
            }
        }

        .link-contact{
            position: relative; 

            transition: .3s all;
    
            &:before{
                content: "";
    
                position: absolute;
                width: 0;
                height: 3px;
    
                background: $yellow;
                left: 0;
                bottom: -2px;
    
                transition: .3s all;
            }
    
            &:hover{
                color: $yellow;
    
                &:before{
                    width: 100%;
                }
            }
        }
    } 

    .social-container{
        justify-content: flex-end;

        @include media-breakpoint-down(md){
            justify-content: center;
        }
    }

    .facebook-icon, .twitter-icon, .instagram-icon{
        width: 40px;
        height: 40px;

        cursor: pointer;
 
        display: flex;
        align-items: center;
        justify-content: center;

        background: $yellow;

        border-radius: 50%;

        transition: background .3s;

        svg{

            width: 16px;

            path{
                transition: all .3s;
            }
        }

        &:hover{
            background: rgba($yellow, 0.2);

            svg{
                path{
                    fill: $yellow;
                }
            }
        }
    }
}