/*
|--------------------
|      HEADER
|--------------------
*/

/*
|
| Header
|---------
*/
#header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);

    .header-container{
        @extend .container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 32px;

        @include media-breakpoint-down(sm) {
            padding-top: 10px;
            padding-bottom: 10px;

            justify-content: flex-start;
            height: 76px;

            .logo{
                width: 100px;

                svg{
                    width: 100%;
                }
            }
        }

        .item-nav{
            display: none;

            .item-menu{
                display: flex;

                li{

                    &.current_page_item{
                        a{
                            color: $yellow;
                        }
                    }

                    .item-link {
                        font-size: 14px;
                        font-weight: 600;

                        padding: 12px;

                        border-radius: 2px;

                        cursor: pointer;
                        transition: .3s all;

                        &:hover{
                            background: rgba($yellow, 0.2);

                            color: $yellow;
                        }
                    }      
                }   
            } 

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        .btn{
            @include media-breakpoint-down(md) {

                position: absolute;

                right: 71px;
 
                padding: 6px 12px;
            }
        }
    }
}

/*
|
| Burger menu
|--------------
*/
.btn-menu {
    position: fixed;
    z-index: 11;

    right: 15px;
    top: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;

    padding: 0;
    border: none;

    background-color: transparent;
    cursor: pointer;

    &>.item-burger {
        display: block;
        width: 25px;

        &>span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $very-dark-grey;
            border-radius: 2px;

            &:nth-child(2) {
                margin: 6px 0;
            }
        }
    }
    @include media-breakpoint-up(md) {
        top: 25px;
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

/*
|
| Menu
|-------
*/
#mobile-menu{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $yellow;
    overflow: auto;

    display: flex;
    align-items: center;

    .item-container{
        padding: 0 24px;

        .line-wrapper{
            overflow: hidden;
        }

        ul {
            & > li {
            
                a {
                    font-family: $font-family-custom;
                    color: $white;
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }
    }
    
}