{#
|
| Pagination
|-------------
#}
{% macro pagination(params) %}
	{% set pagination = params.pagination %}
	{% set prev = params.prev ? params.prev : 'prev' %}
	{% set next = params.next ? params.next : 'next' %}

	<ul class="pagination-container">
        {#
        |
        | Prev
        |-------
        #}
		{% if pagination.prev %}
			{% set link = pagination.prev.link %}
			<li><a href="{{ link }}">{{ prev }}</a></li>
		{% endif %}

        {#
        |
        | Pages
        |--------
        #}
		{% for page in pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
				{% else %}
					<span class="{{ page.class }}">{{ page.title }}</span>
				{% endif %}
			</li>
		{% endfor %}

        {#
        |
        | Next
        |-------
        #}
		{% if pagination.next %}
			{% set link = pagination.next.link %}
			<li/><a href="{{ link }}">{{ next }}</a></li>
		{% endif %}
	</ul>
{% endmacro %}


{# 
|
| Card block
|-------------
#}
{% macro card(params) %}
	{% set link    = params.link %}
	{% set image   = params.image %}
	{% set date    = params.date %}
	{% set title   = params.title %}
	{% set content = params.content %}
	{% set terms   = params.terms %}

	<article class="custom-card">
        <a href="{{ link }}" title="{{ title }}" class="custom-card-link">
            <div class="card-img-container">
                <div class="card-img bg-cover" style="background-image: url('{{ image }}')"></div>
            </div>
            <div class="card-content md-up-pr-lg pt-md">
                <span class="fs-xs ls-xs mb-sm">{{ date }}</span>
                <h2>{{ title }}</h2>
            </div>
        </a>
	</article>
{% endmacro %}


{# 
|
| Banner
|---------
#}
{% macro banner(params) %}
    {% set image   = params.image  %}
    {% set title   = params.title  %}
    {% set content = params.content %}

    <section class="banner" data-kira-timeline-onload>
        <div class="container-fluid">
            <div class="row ai-center">
                <div class="col-lg-5 bg-img-auto about-img" style="background-image: url('{{image.url}}');" data-kira-item="fadeInRight">
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <h1 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">{{title.black}} <span class="c-yellow">{{title.yellow}}</span></h1>
                    <div class="cms" data-kira-item="fadeInUp">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}