/*
|--------------------
|      BUTTONS
|--------------------
*/

.btn-yellow{
    &:hover{
      background: rgba($yellow, 0.2);
      color: $yellow !important;
    }
}

.btn-empty{
    border: 2px solid $yellow;

    &:hover{
        background: $yellow;
        color: $white !important;
      }
}

.btn-white{
    border: 2px solid $white;

    &:hover{
        background: $yellow;
        color: $white !important;
        border-color: $white !important;
      }
}

.btn{
    transition: color 0.3s, background .3s;
}