/*
|
| Page Loader
|--------------
*/
.page-loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $yellow;

    .item-content{
        width: 100%;

        text-align: center;

        font-size: 64px;
        color: $white;
        font-weight: 700;

        @include media-breakpoint-down(md){
            font-weight: 32px;
        }
    }
}

@keyframes loadbar{
  from {transform: scaleX(0)}
  to {transform: scaleX(0.7)}
}