#page-about{
    
    .secteurs{
        .list-items{
            padding-left: 25px;

            width: 100%;
            
            li{
                display: flex;
                align-items: center;
            
                &:before{
                    content: "";

                    flex: none;

                    width: 10px;
                    height: 10px; 

                    border-radius: 50%;

                    margin-right: 10px;

                    background-color: $yellow;
                }
            }
        }
    }
}