#page-nos-objectifs{
    .goals{

        .item-goal{

            @include media-breakpoint-down(md){
                flex-direction: column-reverse;
            }


            &.reverse{
                
                @include media-breakpoint-down(md){
                    flex-direction: column-reverse;
                }

            }

        }

        .reverse{
            flex-direction: row-reverse;
        }

    }
}