/*
|--------------------
|     PAGE HOME
|--------------------
*/


#page-home{
    .head{
        height: calc( 100vh - 105px);

        @include media-breakpoint-down(md){
            height: auto;
        }

        .container-fluid{
            height: 100%;

            .row{
                height: 100%;

                @include media-breakpoint-down(md){
                    height: auto; 

                    flex-direction: column-reverse;
                }

                .home-img{
                    @include media-breakpoint-down(md){
                        margin-bottom: 48px;
                    }
                }

                .home-content{

                    @each $breakpoint, $max-width in $container-max-widths {
                        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                            padding: {
                                left: calc((100vw - #{$max-width}) / 2);
                            }
                        }
                    }
                }

                .home-donate{
                    padding: 16px 32px;
                }
            }
        }
    }

    .goal{

        .image{
            @include media-breakpoint-down(md){
                padding: 0;
            }

        }

    }
}