#page-actions-single, #page-news-single{

    .banner{
        height: 44vh;
    }
    
    .bg-fixed{
        background-attachment: fixed;

        @include media-breakpoint-down(md){
            background-attachment: initial;
        }
    }

    .main-project{
        background: $white;

        @include media-breakpoint-down(md){
            margin-top: 0;
        }
    }

}