#page-nos-valeurs{

    .md-down-column-reversed{
        @include media-breakpoint-down(md){
            flex-direction: column-reverse;
        }
    }

    .height-auto{
        height: 100%;

        @include media-breakpoint-down(md){
            height: auto;
        }
    }
}