{% extends 'layout.twig' %}

{% block content %}
    <div id="page-news-archive" class="page-offset">

        <section class="section current-actions" data-kira-timeline-onload>
            <div class="container mb-lg md-down-mb-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">Nos <span class="c-yellow">actualités</span></h1>   
                    </div>
                </div>
            </div>

            <div class="container mb-xxl-child-not-last md-down-mb-lg-child-not-last">
                {% for item in news %}
                    {% if not action.get_field('action_passed') %}
                        <div class="row line-action">
                            <div class="col-lg-4 bg-img-full" style="background-image: url('{{item.thumbnail.src}}');" data-kira-item="fadeInUp"></div>
                            <div class="offset-lg-1 col-lg-6 py-md">
                                <div class="title-lg mb-sm" data-kira-item="fadeInUp" >{{item.title}}</div>
                                <div class="mb-sm" data-kira-item="fadeInUp" >{{item.content|truncate(20)}}</div>
                                <div class="d-f" data-kira-item="fadeInUp">
                                    <a href="{{item.link}}" class="btn btn-empty mr-sm">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

    </div>  
{% endblock %}