{% extends 'layout.twig' %}

{% block content %}
    <div id="page-news-single" class="page-offset">

        <section class="banner bg-cover bg-fixed" style="background-image: url('{{post.thumbnail.src}}');">
        </section>

        <section class="">
            <div class="container mb-md">
                <div class="row" data-kira-timeline-onload>
                    <div class="col-lg-8">
                        <div class="main-project py-xl">

                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <h1 class="title-lg title mb-sm title-decoration" data-kira-item="title.parallax">{{post.title}}</h1>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="mb-sm cms" data-kira-item="fadeInUp">{{post.content}}</div>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
