{#
|
| Footer
|---------
#}
<footer id="footer">
    <div class="container">
        <div class="row jc-between ai-center">
            <a href="{{ function('home_url') }}" class="item-logo">
                {{ function([services, 'svg'], img ~ '/global/logo.svg') }}
            </a>
            <div class="contact">
                <div class="title-sm mb-xs">{{options.contact_text.up}}</div>
                <div class="d-f jc-end">
                    <a href="mailto:{{options.email_adress}}" class="d-b link-contact title-sm c-yellow mb-md">{{options.contact_text.down}}</a>
                </div>
                <div class="d-f social-container mr-sm-child-not-last">
                    {% if options.facebook_link %}
                        <a href="{{options.facebook_link}}" class="facebook-icon">
                            {{ function([services, 'svg'], img ~ '/icon/facebook.svg') }}
                        </a>
                    {% endif %}
                    {% if options.twitter_link %}
                        <a href="{{options.twitter_link}}" class="twitter-icon">
                            {{ function([services, 'svg'], img ~ '/icon/twitter.svg') }}
                        </a>
                    {% endif %}
                    {% if options.instagram_link %}
                        <a href="{{options.instagram_link}}" class="instagram-icon">
                            {{ function([services, 'svg'], img ~ '/icon/instagram.svg') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>