{% set menuPrimary = menu.primary.get_items %}

{#
|
| Header
|---------
#}
<header id="header" data-kira-timeline-onload>
    <div class="header-container" data-kira-item="fadeInLeft.stagger.sm">
        <div class="logo" data-stagger-item>
            <a href="{{ function('home_url') }}" class="item-logo">
                {{ function([services, 'svg'], img ~ '/global/logo.svg') }}
            </a>
        </div>
        <nav class="item-nav"> 
            <ul class="item-menu mr-sm-child-not-last">
                {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="d-f ai-center donate-container">
            <a target="_blank" href="{{options.menu_donate.url}}" class="btn btn-yellow" data-stagger-item>{{options.menu_donate.title}}</a>
        </div>
        
    </div>
</header>


<button class="btn-menu">
    <span class="item-burger">
        <span></span>
        <span></span>
        <span></span>
    </span>
</button>

{#
|
| Mobile Menu
|--------------
#}
<div id="mobile-menu">
    <div class="item-container">
        <ul>
            {% for item in menuPrimary %}
                    <li class="{{ item.classes | join(' ') }}" data-stagger-item>
                        <a class="item-link" href="{{item.link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                <li><a href="{{child.link}}">{{child.title}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    </div>
</div>