{% extends 'layout.twig' %}

{% block content %}
    <div id="page-actions-archive" class="page-offset">


        {#
        |
        | Section Actions non passées
        |------------------------------
        #}
        <section class="section current-actions" data-kira-timeline-onload>
            <div class="container mb-lg md-down-mb-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">Nos actions <span class="c-yellow">en cours</span></h1>   
                    </div>
                </div>
            </div>

            <div class="container mb-xxl-child-not-last md-down-mb-lg-child-not-last">
                {% for action in posts %}
                    {% if not action.get_field('action_passed') %}
                        <div class="row line-action">
                            <div class="col-lg-4 {% if loop.index0 is odd %} offset-lg-1 {% endif %}bg-img-full" style="background-image: url('{{action.thumbnail.src}}');" data-kira-item="fadeInUp"></div>
                            <div class="offset-lg-1 col-lg-6 py-md">
                                <div class="title-lg mb-sm" data-kira-item="fadeInUp" >{{action.title}}</div>
                                <div class="mb-sm" data-kira-item="fadeInUp" >{{(action.get_field('action_content')|striptags)|truncate(20)}}</div>
                                <div class="d-f" data-kira-item="fadeInUp">
                                    <a href="{{action.link}}" class="btn btn-empty mr-sm">En savoir plus</a>
                                    <a href="{{action.get_field('action_litchi').url}}" class="btn btn-yellow">Faire un don</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>


        {#
        |
        | Section Actions passées
        |------------------------------
        #}
        <section class="passed-actions" data-kira-timeline>
            <div class="container mb-lg md-down-mb-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-lg title mb-md title-decoration" data-kira-item="title.parallax">Nos actions <span class="c-yellow">passées</span></h2>   
                    </div>
                </div>
            </div>

            <div class="container mb-xl-child-not-last md-down-mb-lg-child-not-last">
                {% for action in posts %}
                    {% if action.get_field('action_passed') %}
                        <div class="row">
                            <div class="col-lg-4 bg-img-full" style="background-image: url('{{action.thumbnail.src}}');" data-kira-item="fadeInUp" ></div>
                            <div class="offset-lg-1 col-lg-6 py-md">
                                <div class="title-lg mb-sm" data-kira-item="fadeInUp" >{{action.title}}</div>
                                <div class="mb-sm" data-kira-item="fadeInUp" >{{(action.get_field('action_excerpt')|striptags)|truncate(20)}}</div>
                                <div class="d-f" data-kira-item="fadeInUp" >
                                    <a href="{{action.permalink}}" class="btn btn-empty mr-sm">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>




    </div>  
{% endblock %}