{% extends 'layout.twig' %}

{% block content %}
    <div id="page-actions-single" class="page-offset">

        <section class="banner bg-cover bg-fixed" style="background-image: url('{{post.thumbnail.src}}');">
        </section>

        <section class="">
            <div class="container mb-md">
                <div class="row" data-kira-timeline-onload>

                    <div class="col-lg-8">
                        <div class="main-project py-xl">

                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <h1 class="title-lg title mb-sm title-decoration" data-kira-item="title.parallax">{{post.title}}</h1>
                                    <div class="cms" data-kira-item="fadeInUp">
                                        {{post.get_field('action_content')}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="fw-700 mb-sm" data-kira-item="fadeInUp">{{post.get_field('action_highlight')}}</div>
                                    <a href="{{post.get_field('action_litchi').url}}" class="btn btn-yellow" data-kira-item="fadeInUp">{{post.get_field('action_litchi').title}}</a>
                                </div>
                            </div> 

                        </div>
                    </div>

                    <div class="col-lg-4 mt-md mb-lg-child-not-last">
                        {% for item in randomPosts %}
                            <div class="other-project" data-kira-item="fadeInUp">
                                    <a href="{{item.link}}" class="h-100 w-100">
                                        <div class="image-zoom bg-img-xs">
                                            <div class="image-inner" style="background-image: url('{{item.thumbnail.src}}')"></div>
                                        </div>
                                    </a>
                                    <div class="pt-xs">
                                        <div class="title-md mb-xs">{{item.title}}</div>
                                        <div class="mb-md lh-xl">{{(item.get_field('action_content')|striptags)|truncate(10)}}</div>
                                        <div class="d-f">
                                            <a href="{{item.link}}" class="btn btn-empty mr-sm">En savoir plus</a>
                                            <a href="{{item.action_litchi.url}}" class="btn btn-yellow">Faire un don</a>
                                        </div>
                                    </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>
                
            </div>
        </section>


        
    </div>

{% endblock %}
