{% extends 'layout.twig' %}

{% block content %}
    <div id="page-contact" class="page-offset">

        {#
        |
        | Section Banner
        |-----------------
        #}
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="row">
                            <div class="col-xl-3">
                                <h1 class="title-xl mb-lg">{{ post.title }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-xl-3 col-xl-8">
                                <div class="cms">
                                    Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor.Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {#
        |
        | Section Form
        |--------------
        #}
        <section class="section pt-md section-form">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="mt-md">
                                    <div><a href="tel:{{ options.option_contact_phone }}" class="">{{ options.option_contact_phone }}</a></div>
                                    <div><a href="mailto:{{ options.option_contact_email }}" class="">{{ options.option_contact_email }}</a></div>
                                </div>
                                <div class="mt-md">
                                    <div class="cms cms-no-break">
                                        {{ options.option_contact_address|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9">
                                <div class="gravity-form-bootstrap materialize-form contact-form">
                                    {{ function('do_shortcode', post.get_field('contact_form_shortcode')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {#
        |
        | Section Map
        |--------------
        #}
        <div class="section-map">
            <div id="map">
                {% set marker = post.get_field('contact_map') %}
                <div class="marker" data-icon="{{ img }}/icon/marker.svg" data-lat="{{ marker.lat }}" data-lng="{{ marker.lng }}">
                    <div>{{ marker.address }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if google_map_api_key %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}"></script>
    {% endif %}

    {{ parent() }}
{% endblock %}