/*
|---------------------------------------------------------------
| SECTIONS
|---------------------------------------------------------------
| Generate responsive sections
|
|
*/

/*
|-------------------
| Sections setting
|-------------------
| - Generated class: .section
|
*/
$section-padding :             160px;
$screen-lg-section-padding :   $section-padding;
$screen-md-section-padding :   150px;
$screen-sm-section-padding :   80px;
$screen-xs-section-padding :   48px;